<% layout('/layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h2>Edit your Listing</h2>
            <br>
            <form method="POST" action="/listings/<%= tobeupdatedListing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input value="<%= tobeupdatedListing.title %>" name="listing[title]" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea rows="3" cols="30" name="listing[description]" type="text" class="form-control" required><%= tobeupdatedListing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description.</div>
                </div>

                <div class="mb-3">
                    <img src="<%= originalImageUrl %>">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Edit Image</label>
                    <input name="listing[image]" type="file" class="form-control" >
                    <div class="invalid-feedback"></div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input value="<%= tobeupdatedListing.price %>" name="listing[price]" type="number" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid.</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input value="<%= tobeupdatedListing.location %>" name="listing[location]" type="text" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input value="<%= tobeupdatedListing.country %>" name="listing[country]" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid.</div>
                </div>

                <br>
                <button class="btn btn-dark add-btn">Make changes</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
